body{
    margin-left: 0;
    margin-right: 0;
    background-color: #EFEFEF; /* Couleur de fond */
}

#mDIV{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    background-color: #558309; /* Couleur du header */
}

b{
    margin-right: 300px;
    font-size: 24px;
    float: left;
}

/* Style des boutons */
.fonty {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #15975b;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 44px;
    color: white; /* Couleur du texte des boutons */
}

.btn{
    background-color: #15975b;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 120px;
}

/* Style de la classe active (et des boutons au survol) */
.active, .fonty:hover {
    background-color: #55C30F; /* Couleur de fond des boutons actifs et survolés */
}

#myDIV{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 1348px;
    height: 640px;
}

#meDIV{
    float: left;
    width: 229px;
    height: 560px;
    background-color: #22303c; /* Couleur de fond de la partie gauche */
}

.canvas{
    float: right;
    background: #DFE2E2; /* Couleur de fond du canvas */
    margin: auto;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
